@import '../../styles/helpers/variables';
@import '../../styles/helpers/mixins';

.posts-container {
    .loading {
        @include marginX(25em);
        @include marginY(2em);
        text-align: center;

        .loading-text {
            margin-top: 25em;
            font-size: 1.5em;
            font-weight: 700;
        }
    }

    .error {
        @include marginY(2em);
        text-align: center;
    }
}