@use '../../styles/main.scss';

header {
    @extend %main;
    max-height: 12rem;
    border: 1px solid black;
    width: 100%;
}

.logo-icon {
    text-decoration: none;
    font-size: 1.5em;

    .mini {
        font-size: 1.2em;
    }
}