@use '../../styles/main';
@import '../../styles/helpers/variables';

header {
    @extend %main;
    max-height: 12rem;
    border: 1px solid black;
    width: 100%;
    // display: flex;
    // flex-direction: row;

    // .search-container {
    //     margin-top: .9em;
    //     align-items: center;
    //     justify-content: center;
    // }
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;

    .logo-icon {
        text-decoration: none;
        font-size: 1.5em;
        text-wrap: nowrap;
        color: $tertiary-color;
        display: flex;
        flex-direction: row;
        padding: 0.25em;

    }
    .logo-text-mini {
        color: $primary-color;
        align-self: center;
        justify-self: center;
        margin-top: 0.2em;
    }

    .logo-text-reddit {
        color: $tertiary-color;
        align-self: center;
        justify-self: center;
    }
}