@use '../../styles/main';
@import '../../styles/helpers/variables';
@import '../../styles/helpers/mixins';

header {
    @extend %headings;
    max-height: 12rem;
    border-bottom: 1px solid black;
    width: 100%;
    @include shadow-elevation-low($hue: 0deg, $saturation: 0%, $lightness: 50%, $opacity: 0.42);
    @include shadow-elevation-medium($hue: 0deg, $saturation: 0%, $lightness: 50%, $opacity: 0.2);
    @include shadow-elevation-high($hue: 0deg, $saturation: 0%, $lightness: 50%, $opacity: 0.1);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    .logo-icon {
        text-decoration: none;
        font-size: 1.5em;
        text-wrap: nowrap;
        color: $tertiary-color;
        display: flex;
        flex-direction: row;
        padding: 0.25em;

    }
    .logo-text-mini {
        color: $primary-color;
        align-self: center;
        justify-self: center;
        margin-top: 0.2em;
    }

    .logo-text-reddit {
        color: $tertiary-color;
        align-self: center;
        justify-self: center;
    }
}