@import '../../styles/helpers/variables';
@import '../../styles/main';

.post {
    @include shadow-elevation-low("0deg", "4px", "8px", "rgba(0, 0, 0, 0.2)");
    background-color: $white;
    border-radius: 15px;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    position: relative;
    transition: all 0.3s ease-in-out;

    &:hover {
        @include card(4);
    }

    .post__title {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .post__body {
        font-size: 1rem;
        margin-bottom: 1rem;
    }


    .post__date {
        font-size: 0.875rem;
        font-weight: 400;
    }

    .post__footer {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: 1.5rem;

        &__author {
            font-size: 0.875rem;
            font-weight: 700;
            margin-bottom: 0.5rem;
        }

        &__comments {
            font-size: 0.875rem;
            font-weight: 400;
            position: absolute;
            right: 1.5rem;
            top: 1.5rem;
        }
    }

}