@use '../../styles/main';
@import '../../styles/helpers/variables';
@import '../../styles/helpers/mixins';

.subreddits-container {
    @include shadow-elevation-low(0, 4%, 8%, 0.5);
    @include shadow-elevation-medium(0, 4%, 8%, 0.3);
    border: 1px solid lighten($black, 80%);
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0 1rem;

    button {
        @include marginY(0.5em);
        border: none;
        background-color: $white;
        font-size: 1em;
        font-weight: 700;
        cursor: pointer;
    }

    h3 {
        @include paddingY(0.5em);
    }

    .subreddits-skeletons {
        .skeleton {
            @include marginY(0.5em);
            height: 1.5em;
            width: 100%;
        }
    }

    .subreddits-row {
        @extend %scrollbars;
        cursor: pointer;
        overflow-x: scroll;
        margin-top: 1em;

        .subreddit {
            @extend %flex-column;

            &__name {
                font-size: 0.875em;
                font-weight: 700;
            }

            &__icon {
                font-size: 0.45em;
                max-width: 5em;
            }
        }
    }

    .subreddits-column {
        .subreddit {
            @extend %flex-start-row;
            margin-bottom: 0.5em;

            &__name {
                @include marginY(1em);
                font-size: 0.5em;
                font-weight: 700;
                margin-left: 0.875em;
            }

            &__icon {
                max-width: 3em;
            }
        }
    }
}

.loading {
    @include marginY(1.5em);
}