@forward './variables';

%main {
    font-family: $primary-font;
    color: $primary-color;
    background-color: $background-color;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
}