@use './variables';

%headings {
    font-family: variables.$primary-font;
    color: variables.$primary-color;
    background-color: variables.$background-color;
    // font-size: 1.3rem;
}

%scrollbars {
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #555;
    }
}

%flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

%flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

%flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

%flex-start-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

%flex-start-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

%center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}