/* ---------------------------------------------------------------- */
/*                         Typography                               */
/* ---------------------------------------------------------------- */
$primary-font: 'Nunito', sans-serif;
$secondary-font: 'Lora', serif;

/* ---------------------------------------------------------------- */
/*                            Colors                                */
/* ---------------------------------------------------------------- */
// orangered - primary buttons, links, and other interactive elements.
$primary-color: #FF4500;

// black - body text, borders, and other elements.
$secondary-color: #1A1A1A;

// dodgerblue - secondary buttons, links, and other interactive elements.
$tertiary-color: #0079D3;

// orange - highlight specific elements or create contrast with other colors, or for hover and focus effects.
$accent-color: #FFA500;

// white - background color for the page.
$background-color: #FFFFFF;

$white: #FFFFFF;
$black: #000000;