/* Typography */
$primary-font: 'Nunito', sans-serif;
$secondary-font: 'Lora', serif;

/* Colors */
$primary-color: #FF4500; // orangered - primary buttons, links, and other interactive elements.
$secondary-color: #1A1A1A; // black - body text, borders, and other elements.
$tertiary-color: #0079D3; // dodgerblue - secondary buttons, links, and other interactive elements.
$accent-color: #FFA500; // orange - highlight specific elements or create contrast with other colors, or for hover and focus effects.
$background-color: #FFFFFF;
$white: #FFFFFF;
$black: #000000;